#app-exito {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#app-exito .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	background: #ffeb00;
}

.header .header-container img {
  width: 100%;
}

#app-exito .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
	padding: 0;
}

#app-exito .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#app-exito .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#app-exito .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
  padding: 10px;
  font-size: 0.8em;
}
.breadcrumb .breadcrumb-container span {
  padding-top: 5px;
}

#app-exito .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#app-exito .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

.header .header-title {
  text-align: center;
}

.header .header-title h1 {
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 0;

}

.header .header-title h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
}

#app-exito .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#app-exito .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
}

#app-exito .description .description-container img {
  width: 100%;
}

.description-paquetes {
  text-align: center;
  padding: 0 20px;
}

#app-exito .description .description-container .description-text {
  padding: 0 20px;
}

#app-exito .description .description-container .description-info .description-paquetes h3 {
  margin: 10px;
}

#app-exito .description .description-container .description-info .description-paquetes h3::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 70px;
  margin: 0 auto;
  padding-top: 10px;
}

#app-exito .description .description-container .no-satisfecho-option{
  display: grid;
  justify-content: center;
  grid-template-columns: 40px 1fr;
  background: #f8f8f8;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  font-size: 0.9em;
  margin-top: 10px;
}

#app-exito .description .description-container .no-satisfecho-option .download-apps {
  display: grid;
  justify-content: center;
  grid-template-columns: 120px 120px 120px 1fr;
  grid-gap: 10px;
  padding: 0 20px;
}

#app-exito .description .description-container .no-satisfecho-option p {
  text-align: initial;
  padding: 0 10px;
  margin: 2px;
}

#app-exito .servicios {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

#app-exito .servicios h3::before,
#app-exito .servicios h3::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #f8f8f8;
    width: 10rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#app-exito .servicios .servicios-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 223px 400px;
}

#app-exito .servicios .servicios-container .info-left {
  font-size: 0.8em;
  text-align: right;
  padding: 20px;
}

#app-exito .servicios .servicios-container .info-left .servicio {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 80px;
}

.servicios-container .info-left .servicio img {
  align-self: center;
  padding: 10px;
}

.servicios-container .info-left .servicio h4 {
  margin: 5px 0;
}

#app-exito .servicios .servicios-container .info-rigth .servicio {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}
.servicios-container .info-rigth .servicio img {
  align-self: center;
  padding: 10px 10px 10px 0;
  width: 100%;
}

.servicios-container .info-rigth .servicio h4 {
  margin: 5px 0;
}

#app-exito .servicios .servicios-container .info-rigth {
  font-size: 0.8em;
  text-align: initial;
  padding: 20px;
}

#app-exito .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #app-exito .description .description-container,
  #app-exito .servicios .servicios-container,
  #app-exito .description .description-container .no-satisfecho-option .download-apps{
    grid-template-columns: 1fr;
  }

  #app-exito .description .description-container .description-image,
  #app-exito .servicios h3::before,
  #app-exito .servicios h3::after {
    display: none;
  }

  #app-exito .servicios .servicios-container img {
    margin: 0 auto;
  }

  #app-exito .servicios .servicios-container .info-left,
  #app-exito .servicios .servicios-container .info-rigth {
    text-align: justify;
  }

}
