#compra-y-recoje {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#compra-y-recoje .header {
  background: #ffeb00;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#compra-y-recoje .header .header-container {
  position: relative;
}

.header .header-container img:first-child {
  width: 100%;
}

.header .header-container img:nth-child(2) {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 321;
}

#compra-y-recoje .breadcrumb {
  background: #000;
  color: #fff;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#compra-y-recoje .breadcrumb .breadcrumb-container {
  text-align: initial;
  display: flex;
  grid-template-columns: minmax(auto, 1024px);
  padding: 10px;
}

#compra-y-recoje .breadcrumb .breadcrumb-container img {
  padding: 2px 10px;
}

#compra-y-recoje .breadcrumb .breadcrumb-container strong {
  color: #ffeb00;
  font-weight: 300;
}

#compra-y-recoje .instructions {
  background: #0193bf;
  color: #fff;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#compra-y-recoje .instructions .instructions-container {
  text-align: center;
  display: grid;
  padding: 10px;
  text-align: center;
}

#compra-y-recoje .instructions .instructions-container .instructions-steps {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.instructions .instructions-container .instructions-steps .instruction {
  text-align: center;
  padding: 20px;
}

.instructions .instructions-container .instructions-steps .instruction .instruction-img-compra {
  width: 200px;
  margin: 2px;
}

.instructions .instructions-container .instructions-steps .instruction .instruction-img-recoge {
  width: 430px;
  margin: 2px;
}

.instructions .instructions-container h3 {
  font-size: 2.5em;
  margin: 0;
}

.instructions .instructions-container span {
  font-size: 25px;
}

#compra-y-recoje .video {
  background: #ffeb00;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

#compra-y-recoje .video .video-beneficios {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

#compra-y-recoje .video .video-beneficios .beneficio {
  justify-content: center;
  display: grid;
  text-align: center;
}

#compra-y-recoje .video .video-beneficios .beneficio img {
  width: 120px;
  margin: 0 auto;
}

#compra-y-recoje .video .video-beneficios .beneficio span {
  margin-top: 15px;
  font-weight: 700;
}

#compra-y-recoje .video .video-container {
  margin-top: 20px;
}


#compra-y-recoje .compras {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}

#compra-y-recoje .video .tabs-container {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 10px;
}

#compra-y-recoje .video .tabs-container .tab {
  display: flex;
  margin: 0 10px;
  background: #f8f8f8;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.compras .mercado-container {
  display: grid;
  grid-template-columns: minmax(auto, 800px);
  justify-content: center;
}

.compras .mercado-container .mercados-steps {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.compras .mercado-container .mercados-steps .mercado {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.compras .otros-container {
  display: grid;
  grid-template-columns: minmax(auto, 800px);
  justify-content: center;
}

.compras .otros-container .mercados-steps {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.compras .otros-container .mercados-steps .mercado {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.compras .compras-app .recuerda-container {
  display: grid;
  align-items: center;
  grid-template-columns: 300px 1fr;
  grid-gap: 10px;
  padding: 10px 40px;
  margin-top: 20px;
}

.compras .compras-app .recuerda-container .bullet {
  display: flex;
  align-items: center;
  text-align: initial;
}

.compras .compras-app .recuerda-container .recuerda-steps {
  border-left: 1px solid black;
}

.compras .compras-app .recuerda-container h3 {
  text-align: end;
  margin-right: 20px;
}

.compras .compras-app .recuerda-container .bullet img {
  margin: 0 10px;
}

#compra-y-recoje .video .tabs-container .tab:first-child img {
  width: 100px;
  padding: 5px;
}

#compra-y-recoje .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  .header .header-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas: "description description"
                         "badge title";
    grid-gap: 10px;
  }

  .almacenes-title span::before, .almacenes-title span::after {
    width: 1rem;
  }

  .beneficios-title span::before, .beneficios-title span::after {
    width: 8rem;
  }

  .steps .steps-container {
    grid-template-columns: 1fr;
  }

  .beneficios .beneficios-container {
    grid-template-columns: 1fr;
  }

  .almacenes-container .almacenes-list {
    grid-template-columns: 1fr 1fr;
  }

  .almacenes .almacenes-container{
    grid-template-columns: 1fr;
  }

  .header-formatos {
    display: none;
  }
  
  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }
  .no-screen {
    display: block;
  }
}

.tabs-container button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabcontent2 {
  display: none;
  border-top: none;
}

.tabcontent2 {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
