#medios-pago {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#medios-pago .header {
  background: #ffeb00;
  padding: 32px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.header .header-container {
  display: grid;
  grid-template-columns: 70px 2fr 170px;
  grid-template-areas: ". description header-logo"
                       "badge title header-logo";
  grid-gap: 10px;
}

.header-container .badge {
  padding: 15px;
  grid-area: badge;
}
.header-container .badge img {
  max-width: 70px;
}

.header-container .badge span {
  color: #fff;
}

.header-container .badge a {
  text-decoration: none;
}

.header-container .description {
  font-size: 0.8em;
  text-align: justify;
  grid-area: description;
}

.header-container .header-logo {
  grid-area: header-logo;
}

.header-container .description span strong {
  font-size: 0.8em;
  color: #ffeb00;
  font-weight: 700;
}

.header-logo img {
  width: 100%;
  margin-top: 20px;
}

.header-container .title {
  grid-area: title;
  font-weight: normal;
  margin: 0;
  align-items: center;
}

.header-container .title h1{
  font-weight: 700;
  font-size: 2.8em;
  margin: 0;
}

.header-container .title h2{
  font-weight: 700;
  font-size: 1.8em;
  margin: 0;
}



.description-paquetes {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}


#medios-pago .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

#medios-pago .nota {
  background: #000;
  color: #fff;
  padding: 10px 15px 0 15px;
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  height: 175px;
}

.nota .nota-container {
  display: grid;
  grid-gap: 5px;
  text-align: center;
}

.nota .nota-container .medios-de-pago {
  display: grid;
  grid-gap: 5px;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
}

.nota .nota-container .medios-de-pago .medio-pago {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 15px;
}

.nota .nota-container .medios-de-pago .medio-pago:nth-child(2) {
  padding-top: 46px;
}

.nota .nota-container .medios-de-pago .medio-pago:nth-child(3) {
  padding-top: 30px;
}

.nota .nota-container .medios-de-pago .medio-pago p {
  font-weight: 700;
}

#medios-pago .separe {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 1024px);
  padding: 20px;
  margin-top: 20px;
}

#medios-pago .epm {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 1024px);
  padding: 20px;
  margin-top: 20px;
}

#medios-pago .codensa {
  display: grid;
  background: #f8f8f8;
  justify-content: center;
  grid-template-columns: minmax(auto, 1024px);
  padding: 20px;
  margin-top: 20px;
}

#medios-pago .separe .separe-img {
  padding-left: 20px;
}

#medios-pago .epm .epm-img {
  padding-left: 20px;
}

#medios-pago .codensa .codensa-img {
  padding-left: 20px;
}

#medios-pago .separe .separe-container h3 {
  font-size: 1.5em;
}

#medios-pago .epm .epm-container h3 {
  font-size: 1.5em;
}


#medios-pago .codensa .codensa-container h3 {
  font-size: 1.5em;
}

.separe .separe-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 200px;
  align-items: center;
  font-size: 0.8em;
}

.epm .epm-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 200px;
  align-items: center;
  font-size: 0.8em;
}

.codensa .codensa-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 200px;
  align-items: center;
  font-size: 0.8em;
}

.separe .separe-container .separe-opciones {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.separe .separe-container .separe-opciones .separe-opcion {
  display: grid;
  justify-content: center;
  grid-template-columns: 30px 1fr;
  align-items: center;
  background: #f8f8f8;
  color: #000;
  border-radius: 10px;
  margin: 10px;
  padding: 6px;
}
.separe .separe-container .separe-opciones .separe-opcion p {
  margin: 0;
  padding-left: 10px;
}
#medios-pago .brilla {
  display: grid;
  justify-content: center;
  color: #fff;
  background: #d82339;
  grid-template-columns: minmax(auto, 1024px);
  padding: 20px 20px 0 20px;
  margin-top: 20px;
}

#medios-pago .brilla .brilla-img {
  padding-left: 20px;
}

#medios-pago .brilla .brilla-container h3 {
  font-size: 1.5em;
}

#medios-pago .brilla .cupos-brilla {
  background: #f8f8f8;
  color: #000;
  padding: 10px;
  width: 268px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: -40px;
}

#medios-pago .brilla .cupos-brilla strong {
  color: #d82339;
}

.brilla .brilla-container .brilla-opciones .brilla-opcion .brilla-title h5 {
  color: #d82339;
  padding-left: 10px;
  font-size: 1.12em;
  margin: 10px;
}

.brilla .brilla-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 200px;
  align-items: center;
  font-size: 0.8em;
}

#medios-pago .brilla-sitios {
  display: grid;
  justify-content: center;
  color: #fff;
  grid-template-columns: minmax(auto, 1024px);
  background: #f2af38;
  padding: 20px;
}

.brilla .brilla-container h4 {
  text-align: center;
}

.brilla .brilla-container .brilla-opciones {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.brilla .brilla-container .brilla-opciones .brilla-opcion {
  align-items: center;
  background: #f8f8f8;
  color: #000;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: 100px;
}

.brilla .brilla-container .brilla-opciones .brilla-opcion .brilla-title {
  display: grid;
  justify-content: center;
  grid-template-columns: 30px 1fr;
}

.brilla .brilla-container .brilla-opciones .brilla-opcion p {
  margin: 0;
  padding-left: 10px;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  .header .header-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas: "description description"
                         "badge title";
    grid-gap: 10px;
  }

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #medios-pago .description .description-container{
    grid-template-columns: 1fr;
  }

  #medios-pago .description .description-container img {
    display: none;
  }

}
