#rappi-exito {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#rappi-exito .header {
	padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	background: #ffeb00;
}

.header .header-container img {
  width: 100%;
}

#rappi-exito .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.header .header-title {
  text-align: center;
}

.breadcrumb .breadcrumb-container span {
  padding-top: 5px;
}

.header .header-title h1 {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 0;

}

.header .header-title h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
}

#rappi-exito .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#rappi-exito .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#rappi-exito .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
	padding: 10px;
}

#rappi-exito .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#rappi-exito .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}
.description-paquetes .no-satisfecho-option {
  display: grid;
  justify-content: center;
  grid-template-columns: 40px 1fr;
  background: #f8f8f8;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  font-size: 0.9em;
  margin-top: 10px;
}

.description-paquetes .no-satisfecho-option a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

#rappi-exito .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#rappi-exito .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
  align-items: center;
}

#rappi-exito .description .description-container img {
  width: 100%;
}

.description-paquetes {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}

#rappi-exito .description .description-container .description-text {
  padding: 0 20px;
}

#rappi-exito .description .description-container .description-info .description-paquetes h3 {
  margin: 10px;
}


#rappi-exito .description .description-container .description-info .description-title {
  text-align: center;
}

#rappi-exito .description .description-container .description-info .description-title h3::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 70px;
  margin: 0 auto;
  padding-top: 10px;
}

#rappi-exito .nota {
  background: #ffeb00;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 800px);
  justify-content: center;
}

.nota .nota-container {
  display: grid;
  grid-gap: 5px;
  text-align: center;
}

#rappi-exito .disponible {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024);
  justify-content: center;
}

#rappi-exito .disponible .disponible-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}
#rappi-exito  .como-comprar {
  background: #f8f8f8;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: minmax(auto, 1024px);
}

#rappi-exito .como-comprar .como-comprar-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 30px;
  border-radius: 10px;
}

#rappi-exito .como-comprar .como-comprar-container .como-comprar-item {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 1fr;
  background: #fff;
  align-items: center;
  border-radius: 10px;
}

#rappi-exito .como-comprar .como-comprar-container .como-comprar-item p {
  text-align: initial;
  padding: 10px;
}

#rappi-exito .como-comprar .como-comprar-container .como-comprar-item .como-comprar-img {
  background: #fd614f;
  border-radius: 10px;
  position: relative;
}
 
.como-comprar .como-comprar-container .como-comprar-item .como-comprar-img img {
  margin-top: -30px;
}

#rappi-exito .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  .no-mobile {
    display: none;
  }

  #rappi-exito .header {
    padding: 0;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #rappi-exito .description .description-container,
  #rappi-exito .como-comprar .como-comprar-container,
  #rappi-exito .como-comprar .como-comprar-container .como-comprar-item {
    grid-template-columns: 1fr;
    padding: 0;
  }

  #rappi-exito .description .description-container img,
  #rappi-exito .como-comprar .como-comprar-container .como-comprar-item .como-comprar-img {
    display: none;
  } 

}
