.landing-container-home {
  text-align: center;
}

.home-header {
  background-color: #ffeb00;
  height: 150px;
}

.banner-header-img {
  width: 90%;
  margin-top: 30px;
}

.heder-logo-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4.3rem;
}

.banner-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
.section-container {
  position: relative;
  margin-top: -120px;
}

.section-container a{
  text-decoration: none;
}

.header-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.servicios-container span {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.banner-logo {
  padding: 0px 14px 33px 0px;
  width: 140px;
}

.banner-logo-container {
  position: absolute;
  top: 60px;
  left: 7pc;
}

.servicios-container {
  width: 100%;
  background-color:#f8f8f9;
  text-align: left;
  margin: 10px 7px;
  border-radius: 10px;
}


.servicios-container:hover,
.aliados-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 6px 6px rgba(35, 71, 134, .2);
  transition: box-shadow .2s ease-in, background-color .2s ease-in, color .2s ease-in;
}

.servicios-img {
  margin-right: 5px;
}

.section-servicios {
  margin-top: -120px;
  max-width: 1100px;
  margin: 0 auto;
}

.section-services-center {
  -ms-flex: 0 0 12.333333%;
  flex: 0 0 12.333333%;
  max-width: 12.333333%;
}
.novedades-container {
  width: 100%;
  background-color:#ffeb00;
  text-align: left;
  margin: 10px 0;
  border-radius: 10px;
}

.novedades-container span {
  font-family: 'Poppins', sans-serif;
}

.container-novedades-text {
  padding-top: 60px;
}

.container-novedades-options {
  padding-top: 119px;
}

.span-novedades {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.aliados-container {
  width: 100%;
  background-color:#f8f8f9;
  text-align: left;
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
}

.aliados-container img {
  width: 158px;
  max-width: 1280px;
}

.banner-home-img {
  width: 94%;
  margin-top: 30px;
}

.section-images-container {
  position: relative;
}

.section-images-container span {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left: 83px;
  bottom: 50px;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 150px;
  line-height: 38px;
}

@media only screen and (max-width: 600px) {
  
  .section-servicios {
    margin-top: 10px;
  }

  .banner-header-img {
    width: 97%;
  }

  .banner-home-img {
    width: 60%;
  }

  .banner-logo-container {
    position: absolute;
    top: 35px;
    left: 33px;
  }

  .banner-logo {
    padding: 0px 10px 5px 0px;
    width: 90px;
  }

  .heder-logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
  }

  .home-header {
    height: 80px;
  }

  .container-novedades-options {
    padding-top: 10px;
  }

  .banner-container {
    padding: 0 30px;
  }

  .section-images-container span {
    font-family: 'Poppins', sans-serif;
    left: 105px;
    font-size: 1.5rem;
  }

  .section-container {
    margin: 0;
  }

}
