#viajes-exito {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#viajes-exito .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	background: #ffeb00;
}

.header .header-container img {
  width: 100%;
}

#viajes-exito .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
	padding: 0;
}

#viajes-exito .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#viajes-exito .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#viajes-exito .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
	padding: 10px;
}

#viajes-exito .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#viajes-exito .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

.header .header-title {
  text-align: center;
}

.header .header-title h1 {
  font-size: 2em;
}

.header .header-title h2 {
  font-size: 1.3em;
}

#viajes-exito .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  margin: 20px;
}

#viajes-exito .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
}

#viajes-exito .description .description-container img {
  width: 100%;
}

.description-paquetes {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}

.description-paquetes .description-paquetes-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 10px;
}

.description-paquetes .description-paquetes-container .option {
  background: #ffeb00;
  padding: 10px;
  border-radius: 10px;
  height: 150px;
}

.description-paquetes .description-paquetes-container .option img {
  max-width: 90px;
}

.description-paquetes .description-paquetes-container .option p {
  margin: 5px 0;
}

#viajes-exito .description .description-container .description-text {
  padding: 0 20px;
}

#viajes-exito .description .description-container .description-info .description-paquetes h3 {
  margin: 10px;
}

#viajes-exito .description .description-container .description-info .description-paquetes h3::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 70px;
  margin: 0 auto;
  padding-top: 10px;
}

#viajes-exito .giros {
  display: grid;
  justify-content: center;
  background: #000;
  color: #fff;
  grid-template-columns: minmax(auto, 1024px);
  padding: 20px;
}

#viajes-exito .giros .giros-img {
  padding-left: 20px;
}

#viajes-exito .giros .giros-container h3 {
  font-size: 1.5em;
}

#viajes-exito .giros .politicas-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

#viajes-exito .corresponsal .apuestas-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

#viajes-exito .corresponsal .apuestas-container ul {
  padding-left: 10px;
}

#viajes-exito .giros .giros-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 200px;
  align-items: center;
}

#viajes-exito .giros .giros-container .giros-opciones {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#viajes-exito .giros .giros-container .giros-opciones .giros-opcion {
  display: grid;
  justify-content: center;
  grid-template-columns: 30px 1fr;
  align-items: center;
  background: #f8f8f8;
  color: #000;
  border-radius: 10px;
  margin: 10px;
  padding: 6px;
}
#viajes-exito .giros .giros-container .giros-opciones .giros-opcion p {
  margin: 0;
  padding-left: 10px;
}

#viajes-exito .corresponsal {
  display: grid;
  justify-content: center;
  background: #f8f8f8;
  color: #000;
  grid-template-columns: minmax(auto, 1024px);
  padding: 20px;
}

#viajes-exito .corresponsal .corresponsal-img {
  padding-left: 20px;
}

#viajes-exito .corresponsal .corresponsal-container h3 {
  font-size: 1.5em;
}

#viajes-exito .corresponsal .corresponsal-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 200px;
  align-items: center;
}

#viajes-exito .corresponsal .corresponsal-container .corresponsal-opciones {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#viajes-exito .corresponsal .corresponsal-container .corresponsal-opciones .corresponsal-opcion {
  display: grid;
  justify-content: center;
  grid-template-columns: 30px 1fr;
  align-items: center;
  background: #fff;
  color: #000;
  border-radius: 10px;
  margin: 5px;
  padding: 6px;
}

#viajes-exito .corresponsal .corresponsal-container .corresponsal-opciones .corresponsal-opcion p {
  margin: 0;
  padding-left: 10px;
}

#viajes-exito .description .description-container .description-info .description-paquetes a {
  margin-top: 10px;
  background: #e3241c;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  padding: 0 13px;
  color: #fff;
  width: 200px;
  margin-bottom: 10px;
}

#viajes-exito .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {

  .no-mobile {
    display: none;
  }

  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #viajes-exito .description .description-container,
  .description-paquetes .description-paquetes-container,
  #viajes-exito .giros .giros-container,
  #viajes-exito .giros .giros-container .giros-opciones,
  #viajes-exito .corresponsal .corresponsal-container,
  #viajes-exito .giros .politicas-container,
  #viajes-exito .corresponsal .corresponsal-container .corresponsal-opciones,
  #viajes-exito .corresponsal .apuestas-container {
    grid-template-columns: 1fr;
  }

  #viajes-exito .description .description-container .description-img,
  #viajes-exito .corresponsal .corresponsal-img,
  #viajes-exito .giros .giros-img {
    display: none;
  }

}
