#formatos {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#formatos .header {
  background: #000;
  color: white;
  padding: 32px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.header .header-container {
  display: grid;
  grid-template-columns: 70px 1fr 100px;
  grid-template-areas: ". description header-formatos"
                       "badge title header-formatos";
  grid-gap: 10px;
}

.header-container .badge {
  padding: 15px;
  grid-area: badge;
}
.header-container .badge img {
  max-width: 70px;
}

.header-container .header-formatos {
  grid-area: header-formatos;
}

.header-container .description {
  font-size: 0.8em;
  grid-area: description;
}

.header-container .description span strong {
  font-size: 0.8em;
  grid-area: description;
  color: #ffeb00;
  font-weight: 700;
}

.header-formatos img {
  max-width: 70px;
}

.header-container .title {
  grid-area: title;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  align-items: center;
}

.header-container .title {
  font-weight: 700;
  font-size: 2.8em;
}

#formatos .nota {
  background: #f8f8f8;
  color: #000;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 800px);
  justify-content: center;
}

.nota .nota-container {
  display: grid;
  grid-gap: 5px;
}

#formatos .tiendas {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.tiendas .tienda-container {
  display: grid;
  grid-template-columns: 1fr 3fr 300px;
  grid-template-areas: "tienda-logo tienda-description tienda-photo";
  grid-gap: 10px;
  padding: 15px 0;
  border-bottom: 1px solid #f8f8f8;
}

.tiendas .tienda-container:last-child {
  border: none;
}

.tienda-logo {
  grid-area: tienda-logo;
  background-color: #ffeb00;
  border-radius: 10px;
  position: relative;
}

.tienda-logo img {
  width: 80%;
  display: block;
  position: absolute;
  top: 40%;
  left: 10%;
}
.tienda-description {
  grid-area: tienda-description;
  font-size: 0.8em;
}


.tienda-photo {
  grid-area: tienda-photo;
}

.tienda-photo img { 
  width: 100%;
}

#formatos .footer {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  .tiendas .tienda-container {
    grid-template-columns: 1fr;
    grid-template-areas: "tienda-logo" "tienda-description" "tienda-photo";
  }
  .tienda-logo img {
    width: 80%;
    display: block;
    position: relative;
    padding: 10px;
    top: 1px;
  }

  .header .header-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas: "description description"
                         "badge title";
    grid-gap: 10px;
  }

  .header-formatos {
    display: none;
  }

  .tienda-photo img { 
    object-fit: cover;
  }

  .no-mobile {
    display: none;
  }
  
  .no-screen {
    display: block;
  }
}
