#viajes-exito {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#viajes-exito .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	/* background: #ffeb00; */
}

.header .header-container img {
  width: 100%;
}

#viajes-exito .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
  padding: 0;
  border-radius: 0rem;
}

#viajes-exito .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#viajes-exito .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#viajes-exito .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
	padding: 10px;
}

#viajes-exito .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#viajes-exito .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

.header .header-title {
  text-align: center;
}

.header .header-title h1 {
  font-size: 2em;
}

.header .header-title h2 {
  font-size: 1.3em;
  margin: 0;
}

#viajes-exito .nota {
  background: #ffeb00;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
}

.nota .nota-container {
  display: grid;
  grid-gap: 5px;
  text-align: center;
}

#viajes-exito .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}

#viajes-exito .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
}

#viajes-exito .description .description-container .puntos-exito-img {
  background: #5a216e;
  padding: 120px 30px 120px 5px;
  border-radius: 10px;
  align-self: center;
}

#viajes-exito .description .description-container img {
  width: 100%;
}


#viajes-exito .description .description-container .description-text {
  padding: 0 20px;
}

#viajes-exito .description .description-container .description-info .description-paquetes h3 {
  margin: 10px;
}

#viajes-exito .description .description-container .description-info .description-paquetes h3::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 70px;
  margin: 0 auto;
  padding-top: 10px;
}


#viajes-exito .description .description-container .description-info  .description-calidad{
  display: grid;
  justify-content: center;
  grid-template-columns: 60px 1fr;
  grid-gap: 5px;
  margin-top: 10px;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.description-container .description-info  .description-calidad img {
  height: 70px;
  margin-top: 10px;
}

.description-container .description-info  .description-calidad .description-calidad-text {
  padding: 0 10px;
  text-align: initial;
}

.description-container .description-info  .description-calidad .description-calidad-text h4 {
  margin: 0;
}

.description-container .description-info  .description-calidad .description-calidad-text p {
  display: block;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

.description-container .description-info  .description-calidad .description-calidad-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.description-info  .description-calidad .description-calidad-text li {
  padding-left: 2em; 
  text-indent: -.7em;
}

.description-info  .description-calidad .description-calidad-text li::before {
  content: "\2022";
  color: #e2241c;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

#viajes-exito .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#viajes-exito .no-satisfecho {
  background: #f8f8f8;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

#viajes-exito .no-satisfecho .no-satisfecho-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

#viajes-exito .no-satisfecho .no-satisfecho-option {
  display: grid;
  justify-content: center;
  grid-template-columns: 30px 1fr;
  background: #fff;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}

#viajes-exito .no-satisfecho .no-satisfecho-option:last-child {
  margin-top: 10px;
}

#viajes-exito .no-satisfecho .no-satisfecho-container .no-satisfecho-option p {
  text-align: initial;
  padding: 0 10px;
}

.beneficios .beneficios-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  text-align: center;
}

.beneficios .beneficios-title span {
  font-weight: 700;
  font-size: 1.17em;
}

.beneficios-title span::before,
.beneficios-title span::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #f8f8f8;
    width: 10rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#viajes-exito .beneficios {
  display: grid;
  padding: 30px;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.beneficios .beneficios-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 10px;
  margin-top: 35px;
}

.beneficios-container .beneficio {
  background-color: #f8f8f8;
  text-align: center;
  padding:10px 10px 0 10px;
  border-radius: 10px;
}

.beneficios-container .beneficio img {
  height: 70px;
}

.beneficios-container .beneficio:first-child img {
  width: 70px;
}

#viajes-exito .electrodomesticos {
  display: grid;
  background: #f8f8f8;
  padding: 20px;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}

.electrodomesticos .electrodomesticos-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.electrodomesticos .electrodomesticos-title span {
  font-weight: 700;
  font-size: 1.17em;
}

.electrodomesticos .electrodomesticos-container .electrodomesticos-option {
  display: grid;
  justify-content: center;
  grid-template-columns: 30px 1fr;
  background: #feeb00;
  border-radius: 10px;
  align-items: center;
  padding: 5px;
  text-align: initial;
}

.electrodomesticos .electrodomesticos-container .electrodomesticos-option img {
  width: 100%;
}
.electrodomesticos .electrodomesticos-container .electrodomesticos-option p {
  padding: 5px;
}


footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  #viajes-exito .description .description-container .puntos-exito-img {
    padding: 40px;
    border-radius: 0;
  }

  .no-screen,
  #viajes-exito .description .description-container .puntos-exito-img img {
    display: block;
  }

  #viajes-exito .description .description-container,
  #viajes-exito .description .description-container .description-info .description-calidad,
  .electrodomesticos .electrodomesticos-container,
  #viajes-exito .no-satisfecho .no-satisfecho-container{
    grid-template-columns: 1fr;
  }

  #viajes-exito .description .description-container img,
  .beneficios-title span::before, .beneficios-title span::after {
    display: none;
  }

}
