#viajes-exito {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#viajes-exito .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	/* background: #ffeb00; */
}

.header .header-container img {
  width: 100%;
}

#viajes-exito .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
  padding: 0;
  font-size: 0.8em;
  border-radius: 0rem;
}

.breadcrumb .breadcrumb-container span {
  padding-top: 5px;
}

#viajes-exito .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#viajes-exito .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#viajes-exito .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
	padding: 10px;
}

#viajes-exito .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#viajes-exito .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

.header .header-title {
  text-align: center;
}

.header .header-title h1 {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 0;

}

.header .header-title h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

#viajes-exito .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#viajes-exito .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
  align-items: center;
}

#viajes-exito .description .description-container img {
  width: 100%;
}

.description-paquetes {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}

#viajes-exito .description .description-container .description-text {
  padding: 0 20px;
}

#viajes-exito .description .description-container .description-info .description-paquetes h3 {
  margin: 10px;
}

#viajes-exito .description .description-container .description-info .description-paquetes h3::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 70px;
  margin: 0 auto;
  padding-top: 10px;
}

#viajes-exito .description .description-container .description-info .description-paquetes a {
  margin-top: 10px;
  background: #e6302b;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  padding: 0 13px;
  color: #fff;
  width: 200px;
  margin-bottom: 10px;
}

#viajes-exito .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

#viajes-exito .tarjetas {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}

#viajes-exito .tarjetas .tarjetas-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  grid-gap: 20px;
}

 #viajes-exito .tarjetas .tarjetas-container .tarjeta:first-child img {
  margin-bottom: 13px;
}

#viajes-exito .tarjetas .tarjetas-container .tarjeta .tarjeta-info {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.9em;
}

#viajes-exito .tarjetas .tarjetas-container .tarjeta .tarjeta-info ul{
  text-align: initial;
  padding-left: 20px;
}

#viajes-exito .tarjetas .tarjetas-container .tarjeta .tarjeta-info h4::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 100px;
  margin: 0 auto;
  padding-top: 10px;
}

#viajes-exito .tarjetas h3:after,
#viajes-exito .tarjetas h3:before{
  display: inline-block;
  content: "";
  border-top: .1rem solid #ededed;
  width: 12rem;
  margin: 0 1rem;
  transform: translateY(-0.5rem);
}

@media screen and (max-width: 768px) {

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #viajes-exito .description .description-container,
  #viajes-exito .tarjetas .tarjetas-container{
    grid-template-columns: 1fr;
  }

  #viajes-exito .description .description-container img {
    display: none;
  }

  #viajes-exito .tarjetas h3:after,
  #viajes-exito .tarjetas h3:before{
    display: none;
  }

}
