#ventas-empresariales {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#ventas-empresariales .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	background: #ffeb00;
}

.header .header-container img {
  width: 100%;
}

#ventas-empresariales .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
	padding: 0;
}

#ventas-empresariales .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#ventas-empresariales .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#ventas-empresariales .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
	padding: 10px;
}

#ventas-empresariales .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#ventas-empresariales .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

#ventas-empresariales .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#ventas-empresariales .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
}

#ventas-empresariales .description .description-container img {
  width: 100%;
}


#ventas-empresariales .description .description-container .description-text {
  padding: 0 20px;
}

#ventas-empresariales .description .description-container .description-info .description-paquetes a {
  margin-top: 10px;
  background: #e3241c;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  padding: 0 13px;
  color: #fff;
  width: 200px;
  margin-bottom: 10px;
}

#ventas-empresariales .description .description-container .description-option {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: 90px 1fr;
  background: #f8f8f8;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 10px;
}

#ventas-empresariales .description .description-container .description-info img {
  padding: 5px;
  height: 60px;
  width: 60px;
}

#ventas-empresariales .como-utilizar {
  text-align: center;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#ventas-empresariales .como-utilizar .como-usar-info a{
  margin-top: 10px;
  background: #e3241c;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  padding: 3px 13px;
  color: #fff;
  width: 338px;
  margin-bottom: 10px;
}

.beneficios .beneficios-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  text-align: center;
}

.beneficios .beneficios-title span {
  font-weight: 700;
  font-size: 1.17em;
}

#ventas-empresariales .como-utilizar h3::before,
#ventas-empresariales .como-utilizar h3::after {
  display: inline-block;
    content: "";
    border-top: .1rem solid #f2f2f2;
    width: 14rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

.beneficios-title span::before,
.beneficios-title span::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #f2f2f2;
    width: 23rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#ventas-empresariales .beneficios {
  display: grid;
  margin-top: 30px;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.beneficios .beneficios-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 35px;
}

.beneficios-container .beneficio {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px 10px 0 10px;
  border-radius: 10px;
}

.beneficios-container .beneficio img {
  width: 50px;
  height: 50px;
}

.beneficios-container .beneficio:nth-child(2) img {
  width: 70px;
}

.beneficios-container .beneficio:nth-child(4) img {
  width: 74px;
}

#ventas-empresariales .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  .header .header-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas: "description description"
                         "badge title";
    grid-gap: 10px;
  }

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #ventas-empresariales .description .description-container .description-option {
    padding: 10px;
    text-align: initial;
  }


  #ventas-empresariales .description .description-container,
  #ventas-empresariales .description .description-container .description-option,
  .beneficios .beneficios-container {
    grid-template-columns: 1fr;
  }

  #ventas-empresariales .description .description-container img,
  beneficios-title span::before, .beneficios-title span::after,
  #ventas-empresariales .como-utilizar h3::before, #ventas-empresariales .como-utilizar h3::after {
    display: none;
  }

}
