#estaciones {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#estaciones .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	background: #ffeb00;
}

.header .header-container img {
  width: 100%;
}

#estaciones .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
	padding: 0;
}

#estaciones .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#estaciones .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#estaciones .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
	padding: 10px;
}

#estaciones .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#estaciones .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

#estaciones .nota {
  background: #ffeb00;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
}

.nota .nota-container {
  display: grid;
  text-align: center;

}

#estaciones .como-funciona {
  padding: 32px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#estaciones .como-funciona  .como-funciona-container {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
}
.beneficios .beneficios-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
}


.como-funciona .como-funciona-container .pasos-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
}

.como-funciona .como-funciona-container .pasos-container .paso {
  text-align: center;
  background-color: #ffeb00;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 50px 1fr;
}

.beneficios .beneficios-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
}

.beneficios .beneficios-title span {
  font-weight: 700;
}

.beneficios .beneficios-title span::before,
.beneficios .beneficios-title span::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #f8f8f8;
    width: 23rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#estaciones .beneficios {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
}

.beneficios .beneficios-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 35px;
}

.beneficio {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px 10px 0 10px;
  font-size: 0.7em;
  border-radius: 10px;
}

.beneficio img {
  width: 90px;
  height: 70px;
}

#estaciones .almacenes {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  margin-top: 35px;
  text-align: center;
}

.almacenes .almacenes-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
}

.almacenes .almacenes-title span {
  font-weight: 700;
}

.almacenes .almacenes-container{
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 35px;
  align-items: center;
}

.almacenes .almacenes-container img {
  width: 100%;
}

.almacenes-container .almacenes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.almacenes-container .almacenes-list .almacen {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 5px 10px 5px 15px;
  text-align: initial;
}

.almacenes-container .almacenes-list .almacen p{
  font-size: 0.7em;
  margin: 1px;
}

.almacenes-container .almacenes-list .almacen span{
  font-weight: 700;
  margin-right: 40px;
  font-size: 0.9em;
}

.almacenes-container .almacenes-list .almacen span::after {
  display: inline-block;
  content: "";
  border-top: .2rem solid #feeb00;
  width: 7rem;
  transform: translateY(-0.7rem);
}

#estaciones .footer {
  margin-top: 35px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }
  .no-screen {
    display: block;
  }

  .beneficios .beneficios-title {
    text-align: center;
  }

  .almacenes .almacenes-container{
    grid-template-columns: 1fr;
  }

  .como-funciona .como-funciona-container .pasos-container {
    grid-template-columns: 1fr;
  }
  .beneficios-title span::before, .beneficios-title span::after {
    width: 8rem;
  }

  .beneficios .beneficios-container, .almacenes-container .almacenes-list, .steps .steps-container {
    grid-template-columns: 1fr 1fr;
  }

  .almacenes-title span::before,
  .almacenes-title span::after {
    display: none;
  }

  .como-funciona .como-funciona-container .beneficios-title span::before,
  .como-funciona .como-funciona-container .beneficios-title span::after,
  .beneficios .beneficios-title span::before, .beneficios .beneficios-title span::after {
    display: none;
  }
}
