#domicilios {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#domicilios .header {
	padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	/* background: #ffeb00; */
}

.header .header-container img {
  width: 100%;
}

#domicilios .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
  padding: 0;
  border-radius: 0rem;
}

.header .header-title {
  text-align: center;
}

.header .header-title h1 {
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 0;

}

.header .header-title h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

#domicilios .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1680px);
  padding: 10px;
  font-size: 0.8em;
}

#domicilios .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#domicilios .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

#domicilios .domicilio-facil {
  background: #ffeb00;
  color: #fff;
  padding: 32px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.domicilio-facil .domicilio-facil-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.domicilio-facil-container .facil-rapido {
  background: #0193c0;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}

.facil-rapido-container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.facil-rapido-container .telefono-opcion {
  background: #f8f8f8;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 35px 1fr;
  padding: 10px;
}

.facil-rapido-container .telefono-opcion:nth-child(2) img {
  padding-top: 7px;
}

.facil-rapido-container .telefono-opcion:first-child img {
  width: 85%;
}

.facil-rapido-container .telefono-opcion img {
  width: 100%;
}

.facil-rapido-container .telefono-opcion span {
  color: #0193c0;
  font-weight: 700;
}

.facil-rapido-container .telefono-opcion h4 {
  color: #000;
  font-weight: 700;
  margin: 0;
}

.domicilio-facil-container .llevamos-opcion {
  color: #000;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.domicilio-facil-container .llevamos-opcion a {
  background: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  padding: 8px 20px;
  margin-top: 20px;
  color: black;
  -webkit-box-shadow: 4px 6px 7px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 4px 6px 7px 0px rgba(0,0,0,0.3);
  box-shadow: 4px 6px 7px 0px rgba(0,0,0,0.3);
}

.domicilio-facil-container .llevamos-opcion p {
  margin: 0;
}

#domicilios .telefonos {
  padding: 20px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}

.telefonos .telefonos-container .telefonos-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.telefonos-container .telefono-container {
  display: grid;
  grid-template-columns: 1fr 290px;
  grid-gap: 10px;
  margin-top: 20px;
}

.telefonos-container .telefonos-lista .telefono {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 15px 0;
}

.telefonos-container .telefonos-lista .telefono h4 {
  margin: 0;
}

.telefonos-container .telefonos-lista .telefono span {
  color: #0193c0;
  font-weight: 700;
}

#domicilios .costos {
  background: #f8f8f8;
  color: #000;
  padding: 20px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.costos .costos-container{
  display: grid;
  grid-template-columns: minmax(auto, 900);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 10px;
  text-align: center;
}

.costos .costos-container .costo .costo-opcion{
  display: grid;
  grid-template-columns: 45px 1fr;
  justify-content: center;
}

.costos .costos-container .costo-opcion {
  background: #0193c0;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  height: 165px;
}

.breadcrumb .breadcrumb-container span {
  padding-top: 5px;
}

.costos .costos-container .costo img {
  width: 100%;
  margin-top: 48px;
}

.costos .costos-container .costo:first-child p {
  margin-top: 20px;
}

.costos .costos-container .costo:last-child p {
  margin-top: 18px;
}

.costos .costos-container .costo p {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}

#domicilios .ten-en-cuenta {
  color: #000;
  padding: 32px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.ten-en-cuenta .ten-en-cuenta-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  grid-gap: 30px
}

.ten-en-cuenta .ten-en-cuenta-container img {
  width: 90%;
  align-self: center;
  justify-self: center;
}

.ten-en-cuenta .ten-en-cuenta-container h3 {
  color: #0193c0;
}

#domicilios .footer {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
  text-align: center;
}

.footer-container img { 
  width: 100%;
}

.footer-container span:nth-child(2) { 
  margin-bottom: 30px;
  padding: 0 20px;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {

  .domicilio-facil .domicilio-facil-container {
    grid-template-columns: 1fr;
  }

  .domicilio-facil-container .llevamos-opcion a {
    margin-top: 10px;
  }

  .telefonos .telefonos-container .telefonos-lista {
    grid-template-columns: repeat(2, 1fr);
  }

  .telefonos .telefonos-container .telefono-container img {
    justify-self: center;
  }

  .costos .costos-container{
    grid-template-columns: 1fr;
  }
  .ten-en-cuenta .ten-en-cuenta-container,
  .telefonos-container .telefono-container {
    grid-template-columns: 1fr;
  }
  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }
  .no-screen {
    display: block;
  }
  .domicilio-facil .facil-rapido-container {
    grid-template-columns: 1fr;
  }
}
