#viajes-exito {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#viajes-exito .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	/* background: #ffeb00; */
}

.header .header-container img {
  width: 100%;
}

#viajes-exito .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
  padding: 0;
  border-radius: 0rem;
}

#viajes-exito .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#viajes-exito .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#viajes-exito .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
  padding: 10px;
  font-size: 0.8em;
}

#viajes-exito .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#viajes-exito .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

.header .header-title {
  text-align: center;
}

.breadcrumb .breadcrumb-container span {
  padding-top: 5px;
}

.header .header-title h1 {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 0;

}

.header .header-title h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

#viajes-exito .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#viajes-exito .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
  align-items: center;
}

#viajes-exito .description .description-container img {
  width: 100%;
}


#viajes-exito .description .description-container .description-text {
  padding: 0 20px;
}


#viajes-exito .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

.nuestra-tienda .nuestra-tienda-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  text-align: center;
}

.nuestra-tienda .nuestra-tienda-title span {
  font-weight: 700;
  font-size: 1.17em;
}

.nuestra-tienda-title span::before,
.nuestra-tienda-title span::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #f8f8f8;
    width: 10rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#viajes-exito .nuestra-tienda {
  display: grid;
  padding: 30px;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.nuestra-tienda .nuestra-tienda-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 35px;
}

.nuestra-tienda-container .opcion {
  background-color: #f8f8f8;
  text-align: center;
  padding:10px 10px 0 10px;
  font-size: 0.8em;
  border-radius: 10px;
}

.beneficios .beneficios-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  text-align: center;
}

.beneficios .beneficios-title span {
  font-weight: 700;
  font-size: 1.17em;
}

.beneficios-title span::before,
.beneficios-title span::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #000;
    width: 20rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#viajes-exito .beneficios {
  display: grid;
  padding: 30px;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  background: #feeb00;
}

.beneficios .beneficios-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-top: 35px;
}

.beneficios-container .beneficio {
  background-color: #f8f8f8;
  text-align: center;
  padding:10px 10px 0 10px;
  font-size: 0.8em;
  border-radius: 10px;
}

#viajes-exito .como-funciona {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#viajes-exito .como-funciona .como-funciona-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  align-items: center;
}

#viajes-exito .como-funciona .como-funciona-container img {
  width: 100%;
}


#viajes-exito .como-funciona .como-funciona-container .como-funciona-text {
  padding: 0 20px;
}

@media screen and (max-width: 768px) {

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #viajes-exito .description .description-container,
  .beneficios .beneficios-container,
  .nuestra-tienda .nuestra-tienda-container,
  #viajes-exito .como-funciona .como-funciona-container{
    grid-template-columns: 1fr;
  }

  #viajes-exito .description .description-container img,
  .nuestra-tienda-title span::before, .nuestra-tienda-title span::after,
  .beneficios-title span::before, .beneficios-title span::after {
    display: none;
  }

}
