#garantia {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#garantia .header {
  background: #000;
  color: #fff;
  padding: 32px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.header .header-container {
  display: grid;
  grid-template-columns: 70px 2fr 140px;
  grid-template-areas: ". description header-logo"
                       "badge title header-logo";
  grid-gap: 10px;
}

.header-container .badge {
  padding: 15px;
  grid-area: badge;
}
.header-container .badge img {
  max-width: 70px;
}

.header-container .description {
  font-size: 0.7em;
  text-align: justify;
  grid-area: description;
}

.header-container .header-logo {
  grid-area: header-logo;
}

.header-container .description span strong {
  font-size: 0.7em;
  color: #ffeb00;
  font-weight: 700;
}

.header-logo img {
  width: 100%;
  margin-top: 20px;
}

.header-container .title {
  grid-area: title;
  font-weight: normal;
  margin: 0;
  align-items: center;
}

.header-container .title h1{
  font-weight: 700;
  font-size: 2.8em;
  margin: 0;
}

.header-container .title h2{
  font-weight: 700;
  font-size: 1.8em;
  margin: 0;
}

#garantia .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#garantia .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
  align-items: center;
}

#garantia .description .description-container img {
  width: 100%;
}

.description-paquetes {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}

#garantia .description .description-container .description-text {
  padding: 0 20px;
}

#garantia .description .description-container .description-info .description-paquetes h3 {
  margin: 10px;
}

#garantia .description .description-container .description-info .description-paquetes h3::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 70px;
  margin: 0 auto;
  padding-top: 10px;
}

#garantia .description .description-container .description-info .description-paquetes a {
  margin-top: 10px;
  background: #000;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  padding: 0 13px;
  color: #fff;
  width: 200px;
  margin-bottom: 10px;
}

#garantia .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

#garantia .aplica {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}

#garantia .aplica .aplica-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
  grid-gap: 10px;
}

#garantia .aplica .aplica-container .aplica-option {
  background: #f8f8f8;
  padding: 14px 2px 0px 2px;
  border-radius: 10px;
  font-size: 0.8em;
}

#garantia .aplica .aplica-container .aplica-option h4 {
  margin: 2px;
}

#garantia .aplica .aplica-cubrimiento p {
  font-size: 0.8em;
  padding: 20px;
}


#garantia .aplica .aplica-incluye {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  grid-gap: 20px;
  font-size: 0.8em;
}

#garantia .aplica .aplica-incluye .incluye-title {
  background: #ffeb00;
  padding: 1px 38px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.1em;
}

#garantia .aplica .aplica-incluye .incluye-title h3 {
  margin: 10px 0;
}

#garantia .aplica .aplica-incluye article {
  background: #f8f8f8;
  padding: 10px;
  height: 240px;
}


#garantia .aplica .aplica-incluye ul{
  text-align: initial;
  list-style-type: none;
  padding: 0 2px;
  margin: 0;
}

.beneficios .beneficios-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  text-align: center;
}

.beneficios .beneficios-title span {
  font-weight: 700;
}

.beneficios-title span::before,
.beneficios-title span::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #f8f8f8;
    width: 23rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#garantia .beneficios {
  display: grid;
  margin-top: 30px;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.beneficios .beneficios-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 35px;
}

.beneficio {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px 10px 0 10px;
  font-size: 0.8em;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .header .header-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas: "description description"
                         "badge title";
    grid-gap: 10px;
  }

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen{
    display: block;
  }

  #garantia .description .description-container,
  #garantia .aplica .aplica-container,
  #garantia .aplica .aplica-incluye,
  .beneficios .beneficios-container {
    grid-template-columns: 1fr;
  }

  #garantia .description .description-container img,
  .beneficios-title span::before, 
  .beneficios-title span::after {
    display: none;
  }

}
