#seguros {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#seguros .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	/* background: #ffeb00; */
}

.header .header-container img {
  width: 100%;
}

#seguros .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
  padding: 0;
  font-size: 0.8em;
  border-radius: 0rem;
}

#seguros .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#seguros .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#seguros .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
	padding: 10px;
}

#seguros .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#seguros .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

.header .header-title {
  text-align: center;
}

.breadcrumb .breadcrumb-container span {
  padding-top: 5px;
}

.header .header-title h1 {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 0;

}

.header .header-title h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

#seguros .opciones-seguros {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  text-align: center;
}

#seguros .opciones-seguros-title{
  margin: 20px 0;
}

#seguros .opciones-seguros .opciones-seguros-container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
}

#seguros .opciones-seguros .opciones-seguros-container .opcion {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
}

#seguros .opciones-seguros .opciones-seguros-container .opcion img {
  height: 67px;
}

#seguros .opciones-seguros .opciones-seguros-container .opcion img {
  margin-top: 20px;
}

#seguros .opciones-seguros .opciones-seguros-container .opcion p {
  font-weight: 700;
  margin-bottom: 0;
}


#seguros .beneficios {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  text-align: center;
  background: #07b5cb;
  color: #fff;
  padding: 32px 15px;
}

.beneficios .beneficios-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-top: 30px;
}

.beneficios .beneficios-container .beneficio {
  background-color: #f8f8f8;
  color: #000;
  text-align: center;
  padding: 12px 5px 0 5px;
  /* font-size: 0.7em; */
  border-radius: 10px;
}

.beneficios .beneficios-container .beneficio:nth-child(5) img,
.beneficios .beneficios-container .beneficio:nth-child(6) img {
  height: 48px;
}

.beneficios .beneficios-container .beneficio:nth-child(1) img {
  margin-bottom: 10px;
}

.beneficios .beneficios-title {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
}

.beneficios .beneficios-title span {
  font-weight: 700;
}

.beneficios-title span::before,
.beneficios-title span::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #f8f8f8;
    width: 17rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#seguros .footer {
  margin-top: 35px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

@media screen and (max-width: 768px) {

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #seguros .opciones-seguros .opciones-seguros-container,
  .beneficios .beneficios-container {
    grid-template-columns: 1fr;
  }

  .beneficios-title span::before,
  .beneficios-title span::after {
    display: none;
  }
}
