#puntos-exito {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#puntos-exito .header {
  padding: 15px 15px 0 15px;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	background: #ffeb00;
}

.header .header-container img {
  width: 100%;
}

#puntos-exito .breadcrumb {
	background: #000;
	color: #fff;
	display: grid;
	grid-template-columns: minmax(auto, 1680px);
	justify-content: center;
	margin: 0;
	padding: 0;
}

#puntos-exito .breadcrumb .breadcrumb-container span {
  padding-top: 5px;
}

#puntos-exito .breadcrumb .breadcrumb-container span a {
	text-decoration: none;
	color: #fff;
}

#puntos-exito .breadcrumb .breadcrumb-container span a:hover {
	color: #ffeb00;
}

#puntos-exito .breadcrumb .breadcrumb-container {
	text-align: initial;
	display: flex;
	grid-template-columns: minmax(auto, 1024px);
  padding: 10px;
  font-size: 0.8em;
}

#puntos-exito .breadcrumb .breadcrumb-container img {
	padding: 0 10px;
}

#puntos-exito .breadcrumb .breadcrumb-container strong {
	color: #ffeb00;
	font-weight: 300;
}

.header .header-title {
  text-align: center;
}

.header .header-title h1 {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 0;

}

.header .header-title h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
}

#puntos-exito .description {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

#puntos-exito .description .description-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 1fr;
  margin-top: 30px;
}

#puntos-exito .description .nota-container {
  padding: 0 30px;
  text-align: center;
}

#puntos-exito .description .description-container img {
  width: 100%;
}

.description-paquetes {
  background-color: #f8f8f8;
  text-align: center;
  padding: 30px;
}

#puntos-exito .description .description-container .description-text {
  padding: 0 20px;
}

#puntos-exito .description .description-container .description-info .description-paquetes .title-description {
  margin: 10px;
}

#puntos-exito .description .description-container .description-info .description-paquetes .title-description::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 70px;
  margin: 0 auto;
  padding-top: 10px;
}

#puntos-exito .description .description-container .description-info .description-paquetes a {
  margin-top: 10px;
  background: #5a216e;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  padding: 0 30px;
  color: #fff;
  width: 200px;
  margin-bottom: 10px;
}

#puntos-exito .footer {
  margin-top: 30px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.footer .footer-container {
  display: grid;
  grid-gap: 5px;
}

.footer-container img { 
  width: 100%;
}

.no-mobile {
  display: block;
}

.no-screen {
  display: none;
}

#puntos-exito .como-funciona {
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}

#puntos-exito .como-funciona .como-funciona-container {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 20px;
}

#puntos-exito .como-funciona .como-funciona-container .punto {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
}

#puntos-exito .como-funciona .como-funciona-container .punto h3::after {
  content: "";
  display: block;
  border-bottom: .2rem solid #feeb00;
  width: 100px;
  margin: 0 auto;
  padding-top: 10px;
}


.description-container .description-info .description-paquetes .phone-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  padding-top: 10px;
}

.description-container .description-info .description-paquetes .phone-container .phone{
  background: #f8f8f8;
  padding: 5px;
  border-radius: 10px;
}

.description-container .description-info .description-paquetes .phone-container .phone h3 {
  color: #cc3c7f;
  margin: 0 auto;
}

#puntos-exito .productos-marcados {
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  text-align: center;
}

#puntos-exito .productos-marcados-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#puntos-exito .productos-marcados-container .punto .punto-text {
  padding: 15px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 1fr;
  color: #fff;
  align-items: center;
}

#puntos-exito .productos-marcados-container .punto:nth-child(1) .punto-text {
  background: #723189;
}

#puntos-exito .productos-marcados-container .punto:nth-child(2) .punto-text {
  background: #e02d88;
}

#puntos-exito .productos-marcados-container .punto:nth-child(3) .punto-text {
  background: #9b3990;
}

#puntos-exito .como-funciona .como-funciona-title::before,
#puntos-exito .como-funciona .como-funciona-title::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #ededed;
    width: 16rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#puntos-exito .productos-marcados .productos-marcados-title::before,
#puntos-exito .productos-marcados .productos-marcados-title::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #ededed;
    width: 10rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

@media screen and (max-width: 768px) {

  .no-mobile {
    display: none;
  }

  .header-container .title h2 {
    font-size: 0.8em;
  }
  
  .header-container .title h1 {
    font-size: 1.8em;
  }

  .no-screen {
    display: block;
  }

  #puntos-exito .description .description-container,
  #puntos-exito .productos-marcados-container {
    grid-template-columns: 1fr;
  }

  .description-container .description-info .description-paquetes .phone-container {
    grid-template-columns: 1fr 1fr;
    position: relative;
    right: 0;
  }

  #puntos-exito .description .description-container img {
    display: none;
  }

  #puntos-exito .productos-marcados .productos-marcados-title::before,
  #puntos-exito .productos-marcados .productos-marcados-title::after,
  #puntos-exito .como-funciona .como-funciona-title::before,
  #puntos-exito .como-funciona .como-funciona-title::after {
    display: none;
  }

}
